@use 'variables';
@import 'bootstrap/scss/bootstrap';

body{
    color: var(--txt);
    background-color: variables.$bg;
    margin: 0px;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%; 
}

button{
    font-size: 1.2rem;
}

.table{
    color:white;
}

.nav-link-wrapper{
    border: 1px solid black;
    border-radius: 100px;
    background-color: #FF0606;
    margin-bottom: 10px;
}

.nav-links{
    margin: 0;
    color: black;
    font-size: 30px;
    &:hover{
        color: white;
    }
}

.pagination{
    font-size: 1.0rem;
    color:black;
}

.filter-types{
    &:hover{
        cursor: pointer;
    }
}

.colm{
    display: flex;
    flex-direction: column;
    &-c { @extend .colm; align-items: center; flex-wrap: wrap;width: 100%;}
    &-user-header {@extend .colm; height: 100%;width: 100%; }
    
}

.col{
    margin: 0px;
    text-align: center;
    align-items: center;
}

.row{
    margin-right: 0px;
    margin-left: -05px;
}

.card-height{
    height: 50px;
}

.pointer {
    cursor: pointer;
}

.index-getter, input[type=text]{
    text-align: center;
    font-size: 1.2rem;  
}

.sidebar{
    height: 100%;
}

.pic{
    border-radius: 200px;
    width: 100px;
    height: 100px;
    text-align: center;
}