@use 'variables';

body{
    color: var(--txt);
    background-color: variables.$bg;
    font-size: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%; 
}

button{
    font-size: 1.2rem;
}
